body, html {
    padding: 0px;
    margin: 0px;
    
}

a {
    padding: 5px;
    margin: 5px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
/* Nav + Nav Container */
.nav-container {
    display: flex;
    height: 50px;
    width: 100%;
    margin: 5px; 
    padding: 6px;
}

.nav-left {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    width: 100%;
    flex-wrap: nowrap;
    
}

.nav-right {
    
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 5px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    
}

/* Google Logo & Container */

.google-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goog-img {
    width: 272px;
    height: 92px;
    margin: 5px;
}

/* Form, Buttons, Text and Form Container */
.form-container {
    display: flex;
    justify-content: center;
    margin: 10px;


}

.form {
   width: 100%;

}

.search-bar {
    border-radius: 50px;
    height: 44px;
    width: 582px;
    text-indent: 20px;
    outline: 50px;
    border: 0.5px solid hsla(0, 0%, 13%, .25);
    font-size: 20px;
}

.text-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

button {
    padding: 5px;
    margin: 6px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    outline-color: #f8f9fa;
    
}

button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
}
/* footer + footer container */

.footer-container {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 100%, 100%;
    grid-template-rows: 50%, 50%;
    grid-template-areas: 
        "header header"
        "footer-left footer-right";
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 100%;
    height: 93px;
    padding: 0 20px 0px 20px;
    margin: 0;
    

}

.header {
    color: #70757A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: header;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.footer-left {
    color: #70757A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    grid-area: footer-left;
    margin: auto;
    justify-content: flex-start;
    text-align: left;
    width: 750px;
    flex-wrap: nowrap;
    float: left;
}

.footer-right {
    color: #70757A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    grid-area: footer-right;
    justify-self: flex-end;
    align-items: center;
    width: 750px;
    flex-wrap: nowrap;
    float: right;
    
}
